a {
  &:hover,
  &:active,
  &:focus {
    text-decoration: none;
  }
}

.btn {
  padding: 0.5rem 2rem;
  border-radius: 2rem;
}

.btn-primary {
  background-color: $little-purple;
  border-color: $little-purple;

  &:hover,
  &:active,
  &:focus {
    background-color: darken($little-purple, 10%);
    border-color: darken($little-purple, 10%);
  }
}

.section-subtitle {
  @extend .shadow-sm;
  background: $little-purple;
  display: inline-block;
  color: #fff;
  border-radius: 30px;
  font-size: 15px;
  padding: 5px 20px;
}

.panel {
  will-change: transform;

  @include media-breakpoint-down(xl) {
    padding-top: 50px;
    padding-bottom: 50px;

    .vh-100 {
      height: auto !important;
    }
  }
}

#intro {

  #intro-text {
    @include centerer;
  }

  #intro-carousel {
    background: linear-gradient(180deg, #000 0%, transparent 100%);

    .slick-list {
      opacity: .5;
    }

    .carousel-bg {
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
}

#collections,
#consulting-board {

  .slick-list {
    overflow: visible;

    &:before {
      content: '';
      display: block;
      position: absolute;
      left: -1000%;
      top: 0;
      width: 1000%;
      height: 100%;
      background-color: $little-orange;
      z-index: 1;
    }

    @include media-breakpoint-down(lg) {
      overflow: hidden;

      &:before {
        display: none !important;
      }
    }
  }

  .slick-arrow {
    @extend .shadow-sm;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -25px;
    border: none;
    padding: 0;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;

    &.slick-prev {
      display: none;
    }

    svg {
      height: 25px;
      line-height: 1;
      margin-top: -5px;
      margin-left: 4px;
      fill: $little-purple;
    }

  }
}

.collection-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 75vh;
  color: #fff;
  position: relative;

  @include media-breakpoint-down(lg) {
    min-height: 300px;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, .75) 0%, transparent 100%);
  }

  .custom-card-body {
    position: relative;

    > * {
      position: relative;
      z-index: 1;
    }
  }
}

.social-icon {
  text-decoration: none !important;
  color: #fff;
  position: relative;
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 1;
  text-align: center;
  background: $little-purple;
  border-radius: 50%;
  font-size: 30px;
  transition: .5s;
  padding: 10px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: $little-yellow;
    transition: .5s;
    transform: scale(.9);
    z-index: -1;
  }

  &:hover,
  &:active,
  &:focus {
    color: $little-yellow;
    box-shadow: 0 0 5px $little-yellow !important;
    text-shadow: 0 0 5px $little-yellow !important;

    &:before {
      transform: scale(1.1);
      box-shadow: 0 0 15px $little-yellow !important;
    }
  }
}

.project-card {
  position: relative;
  overflow: hidden;

  img,
  .overlay {
    transition: .3s all;
    border-radius: 3px;
  }

  img {
    width: 100%;
    margin-bottom: -4px;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    color: #fff;
    opacity: 0;
    padding: 5px;

    h2 {
      padding-top: 15%;
    }

  }

  &:hover {
    .overlay {
      opacity: 1;
    }

    img {
      transform: scale(1.1);
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
  }
}

#team-carousel {

  .slick-list {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .slick-arrow {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    padding: 0;
    border: none;
    text-align: center;
    position: absolute;
    left: -75px;
    top: 50%;
    margin-top: -25px;

    svg {
      height: 25px;
      line-height: 1;
      margin-top: -5px;
      margin-left: 0;
      fill: $little-purple;
    }

    &.slick-next {
      right: -75px;
      left: auto;

      svg {
        margin-left: 4px;
      }
    }

    @include media-breakpoint-down(md) {
      left: 0;
      top: auto;
      bottom: 15px;

      &.slick-next {
        right: 0;
      }

    }
  }
}

.newsletter-form {
  padding: 30px;
  background-color: #fff;
  border-radius: 60px;

  input {
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    border-top-right-radius: 2rem !important;
    border-bottom-right-radius: 2rem !important;
    border-color: #fff;
  }

  .btn {
    // border-radius: 2rem !important
    border-top-left-radius: 2rem !important;
    border-bottom-left-radius: 2rem !important;
    background-color: $little-red;
    border-color: $little-red;
  }
}